/* :root - Selector especial utilizado para definir variables personalizadas de CSS que se pueden reutilizar en todo el documento. */
:root {
    --color-primario: #007bff;
    /* Azul primario */
    --color-secundario: #6c757d;
    /* Gris secundario */
    --color-error: #dc3545;
    /* Rojo error */
    --color-correcto: #94be1f;
    /* Rojo error */
    --color-fondo: #f8f9fa;
    /* Color de fondo */
    --color-texto: #212529;
    /* Color de texto */
    --bg-color: aqua;
}

/* Selector de etiqueta para body donde aplica color de fondo. */
body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

/* Selector Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

.form-legend {
    color: var(--color-primario);
    font-size: 28px;
    font-weight: bold;
}


.error {
    display: none;
    color: var(--color-error);
}

/* Estilos de botones */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

/* Botón primario */
.btn-primario {
    background-color: var(--color-primario);
    color: #ffffff;
}

.btn-primario:hover {
    background-color: #0056b3;
}

/* Botón secundario */
.btn-secundario {
    background-color: var(--color-secundario);
    color: #ffffff;
}

.btn-secundario:hover {
    background-color: #5a6268;
}

/* Botón de error */
.btn-error {
    background-color: var(--color-error);
    color: #ffffff;
}

.btn-error:hover {
    background-color: #c82333;
}

/* Estilos de cards */
.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

/* Estilos de inputs */
.input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
}

.input:focus {
    border-color: var(--color-primario);
    outline: none;
}

.link {
    color: var(--color-primario);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.link-nav {
    color: var(--color-texto);
    text-decoration: none;
}

.link-nav:hover {
    color: var(--color-fondo);
    text-decoration: none;
}

/*ESTILOS PAGE LIBRARY*/

.tituloSection {
    text-align: center;
    font-size: 28px;
    color: var(--color-primario);
    margin: 16px 0px;
}

.containerSection {
    padding: 16px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 24px;
}

.book {
    position: relative;
    border-radius: 10px;
    width: 220px;
    height: 300px;
    background-color: whitesmoke;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.cover {
    top: 0;
    position: absolute;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
}

.card-audio {
    position: relative;
    border-radius: 10px;
    width: 220px;
    height: 300px;
    background-color: whitesmoke;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

audio{
    width: 100%;
}

.audioLibroText{
    font-size: 14px;
    padding: 8px;
}

@media screen and (max-width: 500px ) {
    .audioLibroText{
        font-size: 12px;
        padding: 8px;
    }
}


/* Estilos para navbar */
.navbar {
    background-color: var(--color-primario);
    color: #ffffff;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.hamburger-icon {
    display: none; /* Oculto por defecto en pantallas grandes */
    flex-direction: column;
    cursor: pointer;
  }
  
  .hamburger-icon .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
  }
nav{
    display: flex;
    justify-content: end;
}


@media screen and (max-width: 767px){

    .navbar {
        background-color: var(--color-primario);
        color: #ffffff;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
    }

    .navbar ul li {
        margin-right: 0px;
    }

    .hamburger-icon {
        display: flex;
      }
    
      .nav-menu {
        display: none; /* Oculto por defecto */
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: white;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        border-radius: 8px;
        overflow: hidden;
      }

      nav{
        width: 100%;
        display: block;
    }

    .show{
        display: none;
    }

    .cont-datos{
        display: flex;
        flex-direction: column;
    }
      
}

@media screen and (min-width: 768px) and (max-width: 960px){
    
    .navbar{
        display: flex;
        flex-direction: column;
    }

    .navbar ul li {
        margin-right: 0px;
    }

    .btnNav{
        width: 100%;
    }

    .hamburger-icon {
        display: flex;
    }
    
    .nav-menu {
        display: none; /* Oculto por defecto */
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: white;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        border-radius: 8px;
        overflow: hidden;
    }

    nav{
        width: 100%;
        display: block;
    }

    .show{
        display: none;
    }
      

}


/*......................Estilos index.......................................  */

/* Estilos para el texto del banner */
.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    color: #ffffff;
    font-size: 40px;

}

/* Estilos img-peini */
.img-peini {
    width: 100px;
}

/* Alineacion */
.alineacion {
    text-align: center;
    align-items: center;
}

/* Estilos para el fondo */
.fondo {
    background-image: url('../img/fondo-escolar.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    box-shadow: inset 0 0 0 2000px rgb(105, 105, 105, 0.5);

}
/* Estilos para oferta Académica */
/* .conten-items-acad{
    display: block;
    align-items: center;
    justify-content: center;
} */

.items-oferta{
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 10px 10px 20px;
    padding: 20px;
}

/* Estilos para los contenedor SALITAS */

.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjeta-wrap{
    width: 300px;
    margin: 10px;
}

.tarjeta{
    width: 300px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transition: .7s ease;
    -webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.75);
}

.tarjeta-front, .tarjeta-back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden; /*Para que funcione también en chrome le agrego un prefijo webkit*/
    backface-visibility: hidden;/*De igual forma son lo mismo*/
}

.tarjeta-front{
    width: 100%;
}

.tarjeta-back{
    transform: rotateY(180deg);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-size: 50px;


}

.tarjeta-wrap:hover .tarjeta{
     transform: rotateY(180deg);

}

.img1{
    background-image: url(../img/sala3.jpg);
     background-size: cover;
    box-shadow: inset 0 0 0 2000px rgb(0, 0, 0, 0.5);
    color: white;
    display: flex;;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.img2{
    background-image: url(../img/sala4.jpg);
     background-size: cover;
    box-shadow: inset 0 0 0 2000px rgb(0, 0, 0, 0.5);
    color: white;
    display: flex;;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.img3{
    background-image: url(../img/sala5.jpg);
     background-size: cover;
    box-shadow: inset 0 0 0 2000px rgb(0, 0, 0, 0.5);
    color: white;
    display: flex;;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.targ1{background: #ff6f00;}

.targ2{background: #ff4081;}

.targ3{background: #ffd500;}

/*...................CSS PLATAFORMA..........................  */
.perfil{
    width: 300px;
    height: 300px;
    border-radius: 90%;
    max-width: 100%; 
    
}

.perfil-img{
    width: 100%;
    height:100%;
    border-radius: 90%;
    object-fit: cover;
}


.section-plataforma{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    
}
.section-plataforma h1{
    font-size: 40px;
    margin: 25px;
    padding: 25px;
}
.cont-datos{
    display: flex;
    justify-content: space-between;
    /* background-size: cover; */
    align-items: center;
    margin: 50px;
    padding: 50px;
    
    
}
.card li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Estilos para seccion APRENDER */

.img-biblioteca{
    background-image: url(../img/biblioteca.jpg);
     background-size: cover;
    box-shadow: inset 0 0 0 2000px rgb(0, 0, 0, 0.5);
    color: white;
    display: flex;;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-juegos{
    background-image: url(../img/juegos.jpg);
     background-size: cover;
    box-shadow: inset 0 0 0 2000px rgb(0, 0, 0, 0.5);
    color: white;
    display: flex;;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.tarjeta-back a{
    font-size: 20px;
    color: white;
    content: 25px;
}

    /* Estilos para footer */
    .footer {
        background-color: var(--color-primario);
        color: #ffffff;
        padding: 20px 0;
        text-align: center;
        display: flex;
        justify-content: space-between;
    }

    .footer-container {
        margin: 15px;
    }




    /* Estilos para el logo */
    #logo {
        display: flex;
        justify-content: start;
        margin: 10px;
    }

    /* Estilos para el banner ID */
    #banner {
        background-image: url('https://blogs.iadb.org/desarrollo-infantil/wp-content/uploads/sites/18/2017/09/lectura-infantil-003.jpg');
        background-size: cover;
        /* determina como se ajusta el tamaño de la imagen de fondo para cubrir completamente el contenedor */
        background-position: center;
        /* Coloca la imagen en el centro, tanto horizontal como vertical, del elemento contenedor */
        height: 600px;
        box-shadow: inset 0 0 0 2000px rgb(0, 0, 0, 0.5);
        /* Establece una sombra interna actua como un filtro */
    }

    /* Estilos para el cartel */
    #cartel {
        background-image: url('https://img.freepik.com/foto-gratis/marcadores-multicolores-papel-pintado_23-2147843223.jpg?t=st=1715037394~exp=1715040994~hmac=f478e050e8d81bc729716ddfa8b8362bd3d8a51c1606d666f9ea79a85a02445e&w=900');
        background-size: cover;
        box-shadow: inset 0 0 0 2000px rgb(0, 0, 0, 0.5);
        color: black;

    }
    #fondo {
        background-image: url('https://img.freepik.com/foto-gratis/marcadores-multicolores-papel-pintado_23-2147843223.jpg?t=st=1715037394~exp=1715040994~hmac=f478e050e8d81bc729716ddfa8b8362bd3d8a51c1606d666f9ea79a85a02445e&w=900');
        background-size: cover;
        box-shadow: inset 0 0 0 2000px rgb(255, 255, 255, 0.5);
        color: black;

    }
/* ................................................................................... */

/* Estilos para footer */
.footer {
    background-color: var(--color-primario);
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

/* Estilo Formulario de Registro y Gestión de Usuario */

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 30px;

}

.formulario-registro {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 30px;
}

.form-formulario-registro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.form-formulario-registro label {
    width: 100%;
}


/* Tamaño de icono */
.icono-svg {
    width: 1em;
    /* Tamaño relativo a la fuente */
    height: 1em;
    /* Tamaño relativo a la fuente */
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    /* Propertie para que quede arriba de otros elementos */
    font-size: 16px;
    opacity: 0;
}

.form-label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario-input {
    position: relative;
}

.form-control {
    width: 100%;
    background-color: #fff;
    border: 5px solid transparent;
    border-radius: 5px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.form-control:focus {
    border: 5px solid lightskyblue;
    outline: none;
    box-shadow: 3px 0px 30px gray;
}

/* Mensaje de control error o exitoso*/
.form-valido-campo {
    grid-column: span 2;
    text-align: center;
}

.form-mensaje-valido {
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
    width: 100%;
    display: none;
    text-align: center;
}

.form-valido-campo-exito {
    margin: 50px;
    border: 3px solid var(--color-correcto);
    border-radius: 3px;
    box-shadow: 3px 0px 30px gray;
}

.form-valido-campo-error {
    margin: 50px;
    border: 3px solid var(--color-error);
    border-radius: 3px;
    box-shadow: 3px 0px 30px gray;
}

.form-mensaje-valido-activo {
    display: block;
}

.form-formulario-correcto .form-validacion-estado {
    color: var(--color-correcto);
    opacity: 1;
}

.form-formulario-correcto .form-control {
    border: 5px solid var(--color-correcto);
}

.form-formulario-error .form-label {
    color: var(--color-error);

}

.form-formulario-error .form-validacion-estado {
    color: var(--color-error);
    opacity: 1;
}

.form-formulario-error .form-control {
    border: 5px solid var(--color-error);
}

/* Fin Validación */

.error-activo {
    display: block;
    text-align: justify;
    padding: 5px;
}


.form-btn-envia {
    grid-column: span 2;
    text-align: center;
}


/* Estilo para ID DNI y teléfono Ocultar las flechas sólo en el campo de entrada */

#usuario-dni::-webkit-inner-spin-button,
#alumno-dni::-webkit-inner-spin-button,
#responsable-dni::-webkit-inner-spin-button,
#responsable2-dni::-webkit-inner-spin-button,
#responsable-telefono::-webkit-inner-spin-button,
#responsable2-telefono::-webkit-inner-spin-button,
#usuario-dni::-webkit-outer-spin-button,
#alumno-dni::-webkit-outer-spin-button,
#responsable-dni::-webkit-outer-spin-button,
#responsable2-dni::-webkit-outer-spin-button,
#responsable-telefono::-webkit-outer-spin-button,
#responsable2-telefono::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#usuario-dni,
#alumno-dni,
#responsable-dni,
#responsable2-dni,
#responsable-telefono,
#responsable2-telefono {
    appearance: textfield;
    -moz-appearance: textfield;
    /* Para Firefox */
}

/* Fin oculto flechas */

/* Margen para el boton de segundo responsable. */
#mostrarFormulario {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Estilo formulario contacto y login */

.contact_form {

    width: 460px;
    height: auto;
    margin: auto;
    border-radius: 10px;
    padding-bottom: 20px;
    background-color: #fbfbfb;
    padding-left: 30px;
}

.input_contact {

    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #94be1f;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.texto_mensaje {
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #94be1f;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}

.form_label_contact {

    display: block;
    float: center;
}

#enviar_formularioc {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #94be1f;
    border-color: #94be1f;
    border-style: solid;
    border-radius: 10px;
    width: 420px;
    cursor: pointer;
    color: #fff;
}

.obligatorio {
    color: var(--color-error);
}

.aviso {
    font-size: 13px;
    color: #0e0e0e;
}


.formularioc input:focus {
    outline: 0;
    border: 1px solid var(--color-error);
}


.formularioc textarea:focus {
    outline: 0;
    border: 1px solid var(--color-error);
}

.h1_contact {
    margin: 0px;
    font-size: 30px;
    text-align: letf;
    padding-bottom: 20px;
    color: var(--color-primario)
}


.h3_contact {
    font-size: 14px;
    padding-bottom: 20px;
    color: #0e0e0e;
}



/* Media query */

@media screen and (max-width: 800px) {

    .formulario,
    .formulario-registro,
    .form-formulario-registro {
        grid-template-columns: 1fr;
    }

    .form-legend {
        font-size: 14px;
    }


    .form-btn-envia {
        grid-column: 1;
        text-align: center;
    }

    .form-valido-campo {
        grid-column: 1;
        text-align: center;
    }

    .form-mensaje-valido {
        font-size: 14px;
    }

    .btn {
        width: 100%;
        margin-top: 10px;
        /* Ajusta este valor según sea necesario */
    }

    .btnNav{
        margin: 0;
        border-radius: 0px;
    }

    .btn-sesion{
        width: 50%;
        font-size: 14px;
    }

    .tituloBienvenido{
        font-size: 32px;
    }

}

 /* Adaptamos el footer */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 767px){
    .footer{
        display: flex;
        flex-direction: column;
    }
    .footer-map{
        display: none;
    }
}