<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS Externo -->
    <link rel="stylesheet" href="../static/css/styles.css">

    <!-- Favicon -->
    <link rel="icon" href="../static/img/favicon.ico">

    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

    <title>Peini - Juegos</title>
    
</head>

<body>
     
    <header class="navbar myHeader"></header>
   
    <main>
        <img src="./../static/img/inicio.png" alt="banner" style="height: auto; width: 100%;">
        <h3 class="tituloSection">Juegos</h3>
        <section class="containerSection">
            <iframe  width="560" height="415" src="https://cdn.sesamedigital.net/stg-games.sesamo.com/68_encuentra-los-numeros/index.html#donotdisplayclose/true" frameborder="0"></iframe>
            <iframe  width="560" height="415"src="https://cdn.sesamedigital.net/stg-games.sesamo.com/53_la-granja-de-lola/index.html" frameborder="0"></iframe>
            <iframe  width="560" height="415" src="https://cdn.sesamedigital.net/stg-games.sesamo.com/42_buscando-botones-con-abby/index.html" frameborder="0"></iframe>
        </section>
    </main>

    <footer class="footer"></footer>
    <script src="./../static/js/header-plataforma.js"></script>
    <script src="./../static/js/footer.js"></script>
</body>

</html>