<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS Externo -->
    <link rel="stylesheet" href="../static/css/styles.css">

    <!-- Favicon -->
    <link rel="icon" href="../static/img/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">

    <!-- Inconos -->
    <script src="https://kit.fontawesome.com/86dbb3fae5.js" crossorigin="anonymous"></script>

    <title>Peini - Gestión Usuarios</title>

</head>

<body>

    <header class="navbar myHeader"></header>

    <main>

        <img src="./../static/img/inicio.png" alt="banner" style="height: auto; width: 100%;">

        <section style="padding: 16px;">
            <div style="display: flex; gap: 16px; align-items: center; align-content: center;">
                <input type="text" id="searchInput" placeholder="Buscar por nombre..." class="input"
                    style="margin-bottom: 0px;">
                <button class="btn btn-primario" onclick="location.href='creacion_usuario.html'"
                    style="width: 150px;">Alta de Usuario</button>
            </div>
            <table id="dataTable">
                <thead>
                    <tr>
                        <th>Avatar</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>DNI</th>
                        <th>Email</th>
                        <th>Perfil</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tablaUsuarios">
                    <!-- Agregamos los datos desde lista-usuarios.js -->
                </tbody>
            </table>
        </section>

        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2 id="formTitle">Alta de Usuario</h2>
                <form class="userForm" id="formulario-usuario">
                    <fieldset class="formulario" id="formulario">
                        <legend class="form-legend">Modificación de Usuarios</legend>

                        <!-- Nombre -->
                        <div class="form-formulario" id="form-nombre">
                            <label for="usuario-firstname" class="form-label">Nombre:</label>
                            <div class="formulario-input">
                                <input type="text" class="form-control" name="usuario-firstname" id="usuario-firstname"
                                    placeholder="Escriba su Nombre" required>
                                <!-- <img src="./statics/image/circle-xmark-regular.svg" alt="Error en el campo"
                                class="icono-svg formulario__validacion-estado"> -->
                                <i class="icono-svg form-validacion-estado fa-regular fa-circle-xmark"></i>
                            </div>

                            <div class="error" id="error-usuario-firstname">El nombre se completa con letras, espacios y
                                puede contener tildes.</div>
                        </div>

                        <!-- Apellido -->
                        <div class="form-formulario" id="form-apellido">
                            <label for="usuario-lastname" class="form-label">Apellido:</label>
                            <div class="formulario-input">
                                <input type="text" class="form-control" name="usuario-lastname" id="usuario-lastname"
                                    placeholder="Escriba su Apellido" required>
                                <!-- <img src="./statics/image/circle-xmark-regular.svg" alt="Error en el campo"
                                class="icono-svg formulario__validacion-estado"> -->
                                <i class="icono-svg form-validacion-estado fa-regular fa-circle-xmark"></i>
                            </div>
                            <div class="error" id="error-usuario-lastname">El Apellido se completa con letras, espacios
                                y
                                puede contener tildes.</div>
                        </div>

                        <!-- DNI -->
                        <div class="form-formulario" id="form-dni">
                            <label for="usuario-dni" class="form-label">DNI:</label>
                            <div class="formulario-input">
                                <input type="number" class="form-control" name="usuario-dni" id="usuario-dni"
                                    placeholder="Escriba su Documento" required>
                                <!-- <img src="./statics/image/circle-xmark-regular.svg" alt="Error en el campo"
                                class="icono-svg formulario__validacion-estado"> -->
                                <i class="icono-svg form-validacion-estado fa-regular fa-circle-xmark"></i>
                            </div>
                            <div class="error" id="error-usuario-dni">Por favor, ingrese un Documento válido. Sin
                                puntos.</div>
                        </div>

                        <!-- E-Mail -->

                        <div class="form-formulario" id="form-email">
                            <label for="usuario-email" class="form-label">E-mail:</label>
                            <div class="formulario-input">
                                <input type="email" class="form-control" name="usuario-email" id="usuario-email"
                                    placeholder="mail@mail.com" required>
                                <!-- <img src="./statics/image/circle-xmark-regular.svg" alt="Error en el campo"
                                class="icono-svg formulario__validacion-estado"> -->
                                <i class="icono-svg form-validacion-estado fa-regular fa-circle-xmark"></i>
                            </div>
                            <div class="error" id="error-usuario-email">Por favor, ingrese un correo electrónico
                                válido.</div>

                        </div>

                        <!-- Password -->
                        <div class="form-formulario" id="form-password">
                            <label for="usuario-password" class="form-label">Contraseña:</label>
                            <div class="formulario-input">
                                <input type="password" class="form-control" name="usuario-password"
                                    id="usuario-password" required>
                                <!-- <img src="./statics/image/circle-xmark-regular.svg" alt="Error en el campo"
                                class="icono-svg formulario__validacion-estado"> -->
                                <i class="icono-svg form-validacion-estado fa-regular fa-circle-xmark"></i>
                            </div>
                            <div class="error" id="error-usuario-password">La contraseña debe contener entre 4 y 12
                                dígitos
                            </div>
                        </div>

                        <!-- Password Control -->
                        <div class="form-formulario" id="form-password2">
                            <label for="usuario-password2" class="form-label">Repetir Contraseña:</label>
                            <div class="formulario-input">
                                <input type="password" class="form-control" name="usuario-password2"
                                    id="usuario-password2" required>
                                <!-- <img src="./statics/image/circle-xmark-regular.svg" alt="Error en el campo"
                                class="icono-svg formulario__validacion-estado"> -->
                                <i class="icono-svg form-validacion-estado fa-regular fa-circle-xmark"></i>
                            </div>
                            <div class="error" id="error-usuario-password2">Las contraseñas deben ser iguales.
                            </div>
                        </div>

                        <!-- Perdil de usuario -->
                        <div class="form-formulario" id="form-perfil">
                            <label for="usuario-perfil" class="form-label">Perfil de Usuario:</label>
                            <select name="usuario-perfil" id="usuario-perfil" class="form-control">
                                <option value="2">Maestra/o</option>
                                <option value="1">Admin</option>
                            </select>
                        </div>

                        <!-- Subir archivos -->
                        <img id="imagen-actual" style="max-width: 200px; display: none;">
                        <div class="form-formulario" id="form-archivo">
                            <label for="usuario-archivo" class="form-label">Cambiar Foto:</label>
                            <div class="formulario-input">
                                <input type="file" class="form-control" name="usuario-archivo" id="usuario-archivo">
                            </div>
                            <div class="error" id="error-archivo-usuario-archivo">Por favor, seleccione un archivo
                                válido.</div>
                        </div>

                        <!-- Muestro formulario correcto  -->
                        <div class="form-valido-campo" id="form-valido-campo">
                            <p class="form-mensaje-valido" id="form-mensaje-valido">Se cambia en el script check_inptus
                            </p>
                        </div>


                        <!-- Enviar y Borrar Datos-->
                        <div class="form-btn-envia">
                            <button type="submit" class="form-btn btn btn-primario">Modificación de Usuario</button>
                            <button type="reset" class="form-btn btn btn-secundario" onclick="resetFormulario()">Reset
                                Datos</button>
                        </div>

                    </fieldset>

                </form>
            </div>
        </div>

    </main>



    <footer class="footer"></footer>
    <script src="./../static/js/header-plataforma.js"></script>
    <script src="./../static/js/footer.js"></script>
    <script src="./../static/js/lista-usuarios.js"></script>
    <script src="./../static/js/validaciones_gestion_usuario.js"></script>
</body>

</html>