<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS Externo -->
  <link rel="stylesheet" href="../static/css/styles.css">

  <!-- Favicon -->
  <link rel="icon" href="../static/img/favicon.ico">

  <title>Plataforma Educativa</title>
</head>

<body id="fondo">
  <header class="navbar">

    <!--Logo-->
    <a href="../index.html">
      <img src="../static/img/logo peini.png" id="logo" alt="PEINI">
    </a>

    <nav>
      <!--Menu-->
      <div>

        <!--Menu de navegacion-->
        <ul>

          <li><a class="btn btn-secundario" href="../index.html"> Inicio </a></li>

          <li><a class="btn btn-secundario" href="#inicio"> Plataforma Educativa </a></li>

          <li><a class="btn btn-secundario" href="./register.html"> Nuevo Registro </a></li>

          <li><a class="btn btn-secundario" href="./templates/contact.html"> Contactos </a></li>

        </ul>


    </nav>
    </div>
  </header>

  <main>
    <section id="inicio" class="section-plataforma">
    
      <img class="perfil" src="../static/img/mateo.jpg" alt="Foto Perfil">
      
      <h1>Noah Castro</h1>
      
      <div>
        <h2 class="tituloSection">Datos Alumno:</h2>
        <div >
          <ul class="cont-datos">
            <div class="card">
              <li>DNI: 57737024</li>
              <li>Sala: C</li>
              <li>Turno: Mañana</li>
              <li>Fecha de Nacimiento: 21/07/2019</li>
              <li>Responsable: Ezequiel Castro</li>
            </div>
            <div class="card">
              <li>Direccion: Juan b. Justo 2054 3°A </li>
              <li>Ciudad: Buenos aires- C.A.B.A</li>
              <li>Codigo Postal: 1416</li>
              <li>Telefono:(011)2535687</li>
              <li>Mail: e-mail@gmail.com</li>
            </div>


          </ul>
        </div>
      </div>

    </section>

    <!-- Seccion de Aprendizaje -->
    <section>
      <!-- Link a plataforma -->
      <h2 class="tituloSection">Vamos a aprender</h2>

      <div class="wrap">
        
        <!-- Biblioteca -->
        <div class="tarjeta-wrap">
          <div class="tarjeta">
            <div class="tarjeta-front img-biblioteca">
              <h1>Biblioteca</h1>
            </div>
            <div class="tarjeta-back targ1">
              <a href="../templates/library.html">¿Leemos un poco?</a>
            </div>
          </div>
        </div>
        
        <!-- Juegos -->
        <div class="tarjeta-wrap">
          <div class="tarjeta">
            <div class="tarjeta-front img-juegos">
              <h1>Juegos</h1>
            </div>
            <div class="tarjeta-back targ2">
              <a  href="../templates/games.html">¡Vamos a jugar!</a>
            </div>
          </div>
        </div>


    </section>

  </main>

  <footer class="footer">

    <!--Contenedor logo y descripcion-->
    <div class="footer-container">

      <img src="../static/img/logo peini.png" class="img-peini" alt="Logo">
      <h1>PEINI</h1>
      <h4>Plataforma Educativa de Nivel Inicial.</h4>

    </div>

    </div>

    <!--Contenedor contactos-->
    <div class="footer-container">

      <h4>Contactos</h4>

      <p><strong>Dirección:</strong>P.Sherman Calle Wallaby 42,Sidney</p>
      <br>
      <p><strong>Teléfono:</strong>+54 42350001</p>
      <br>
      <p><strong>Consultas:</strong><a href="contact.html"> clik aqui</a></p>

      <!--Contenedor redes sociales-->
      <div class="footer-container">

        <a href="https://www.facebook.com/peini.peini.3" target="_blank">
          <img src="../static/img/facebook.png" alt="Facebook" width="25px">
        </a>

        <a href="https://www.instagram.com/peini.peini.3/" target="_blank">
          <img src="../static/img/instagram.png" alt="Instagram" width="25px">
        </a>

      </div>

    </div>

    <div class="footer-container">

      <!--mapa-->

      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13137.662945596958!2d-58.4041978046596!3d-34.59364744170856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a3354c0f3c471f%3A0xf04921b32eb169a8!2sEdificio%20Libertad%2C%20Av.%20Comodoro%20Py%202055%2C%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1712671261504!5m2!1ses-419!2sar"
        width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">

      </iframe>

    </div>

  </footer>


</body>

</html>