<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS Externo -->
  <link rel="stylesheet" href="../static/css/styles.css">

  <!-- Favicon -->
  <link rel="icon" href="../static/img/favicon.ico">

  <title>Plataforma Educativa</title>
</head>

<body id="fondo">
  <header class="navbar myHeader"></header>

  <main>
    <section id="inicio" class="section-plataforma">
    
      <img class="perfil" src="../static/img/mateo.jpg" alt="Foto Perfil">
      
      <h1>Noah Castro</h1>
      
      <div>
        <h2 class="tituloSection">Datos Alumno:</h2>
        <div >
          <ul class="cont-datos">
            <div class="card">
              <li>DNI: 57737024</li>
              <li>Sala: C</li>
              <li>Turno: Mañana</li>
              <li>Fecha de Nacimiento: 21/07/2019</li>
              <li>Responsable: Ezequiel Castro</li>
            </div>
            <div class="card">
              <li>Direccion: Juan b. Justo 2054 3°A </li>
              <li>Ciudad: Buenos aires- C.A.B.A</li>
              <li>Codigo Postal: 1416</li>
              <li>Telefono:(011)2535687</li>
              <li>Mail: e-mail@gmail.com</li>
            </div>


          </ul>
        </div>
      </div>

    </section>

    <!-- Seccion de Aprendizaje -->
    <section>
      <!-- Link a plataforma -->
      <h2 class="tituloSection">Vamos a aprender</h2>

      <div class="wrap">
        
        <!-- Biblioteca -->
        <div class="tarjeta-wrap">
          <div class="tarjeta">
            <div class="tarjeta-front img-biblioteca">
              <h1>Biblioteca</h1>
            </div>
            <div class="tarjeta-back targ1">
              <a href="../templates/library.html">¿Leemos un poco?</a>
            </div>
          </div>
        </div>
        
        <!-- Juegos -->
        <div class="tarjeta-wrap">
          <div class="tarjeta">
            <div class="tarjeta-front img-juegos">
              <h1>Juegos</h1>
            </div>
            <div class="tarjeta-back targ2">
              <a  href="../templates/games.html">¡Vamos a jugar!</a>
            </div>
          </div>
        </div>


    </section>

  </main>

  <footer class="footer"></footer>
  <script src="./../static/js/footer.js"></script>
  <script src="../templates/"></script>
  <script src="./../static/js/header-plataforma.js"></script>
</body>

</html>