<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Externo -->
    <link rel="stylesheet" href="../static/css/styles.css">

    <!-- Favicon -->
    <link rel="icon" href="../static/img/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">

    <!-- Inconos -->
    <script src="https://kit.fontawesome.com/86dbb3fae5.js" crossorigin="anonymous"></script>

    <title>Peini - Registro</title>

</head>

<body>
    <header class="navbar myHeader"></header>
    <main>
        <img src="./../static/img/inicio.png" alt="banner" style="height: auto; width: 100%;">
        <form action="crud-registro.py" id="form-registro">

            <fieldset class="formulario-registro" id="formulario-registro">

                <legend class="form-legend">Formulario de Registro</legend>

                <!-- Registro de Alumno/a -->
                <h2>Registro Alumno/a</h2>

                <div class="form-formulario-registro">

                    <!-- Nombre Alumno -->
                    <div class="form-formulario-alumno validacion-reset" id="form-nombre-alumno">
                        <label for="alumno-nombre" class="form-label">Nombre:</label>
                        <div class="formulario-input">
                            <input type="text" class="form-control" name="alumno-nombre" id="alumno-nombre"
                                placeholder="Escriba su Nombre">
                            <i class="icono-svg form-validacion-estado fa-regular fa-circle-xmark"></i>
                        </div>
                        <div class="error" id="error-alumno-nombre">El nombre se completa con letras, espacios y
                            puede contener tildes.</div>

                    </div>

                    <!-- Apellido Alumno -->
                    <div class="form-formulario-alumno validacion-reset" id="form-apellido-alumno">
                        <label for="alumno-apellido" class="form-label">Apellido:</label>
                        <div class="formulario-input">
                            <input type="text" class="form-control" name="alumno-apellido" id="alumno-apellido"
                                placeholder="Escriba su Apellido">
                            <i class="icono-svg form-validacion-estado fa-regular fa-circle-xmark"></i>
                        </div>
                        <div class="error" id="error-alumno-apellido">El Apellido se completa con letras, espacios y
                            pueden contener tildes.</div>
                    </div>

                    <!-- DNI Alumno -->
                    <div class="form-formulario-alumno validacion-reset" id="form-dni-alumno">
                        <label for="alumno-dni" class="form-label">DNI:</label>
                        <div class="formulario-input">
                            <input type="number" class="form-control" name="alumno-dni" id="alumno-dni"
                                placeholder="Escriba su Documento">
                            <i class="icono-svg form-validacion-estado fa-regular fa-circle-xmark"></i>
                        </div>
                        <div class="error" id="error-alumno-dni">Por favor, ingrese un Documento válido. Sin
                            puntos.</div>

                    </div>

                    <!-- Fecha de nacimiento -->
                    <div class="form-formulario-alumno validacion-reset" id="form-birthday-alumno">
                        <label for="alumno-birthday" class="form-label">Fecha de Nacimiento:</label>
                        <input type="date" class="form-control" name="alumno-birthday" id="alumno-birthday">
                    </div>

                    <!-- Selección de Sala -->
                    <div class="form-formulario-alumno" id="form-sala">
                        <label for="nivel-a" class="form-label">Sala: </label>
                        <div class="form-formulario-alumno form-control">
                            <input type="radio" id="nivel-a" name="alumno-sala" value="1" required>
                            <label for="nivel-a">A</label>

                            <input type="radio" id="nivel-b" name="alumno-sala" value="2" required>
                            <label for="nivel-b">B</label>

                            <input type="radio" id="nivel-c" name="alumno-sala" value="3" required>
                            <label for="nivel-c">C</label>
                        </div>
                    </div>

                    <!-- Turno -->
                    <div class="form-formulario-alumno">
                        <label class="form-label">Turno: </label>
                        <div class="form-control">
                            <input type="radio" id="turno-manana" name="alumno-turno" value="1" required>
                            <label for="turno-manana">Mañana</label>

                            <input type="radio" id="turno-tarde" name="alumno-turno" value="2" required>
                            <label for="turno-tarde">Tarde</label>
                        </div>

                    </div>

                    <!-- Password Alumno -->
                    <div class="form-formulario-alumno validacion-reset" id="form-password-alumno">
                        <label for="alumno-password" class="form-label">Contraseña:</label>
                        <div class="formulario-input">
                            <input type="password" class="form-control" name="alumno-password" id="alumno-password">
                            <i class="icono-svg form-validacion-estado fa-regular fa-circle-xmark"></i>
                        </div>
                        <div class="error" id="error-alumno-password">La contraseña debe contener entre 4 y 12 dígitos
                        </div>
                    </div>

                    <!-- Password Control alumno -->
                    <div class="form-formulario-alumno validacion-reset" id="form-password2-alumno">
                        <label for="alumno-password2" class="form-label">Repetir Contraseña:</label>
                        <div class="formulario-input">
                            <input type="password" class="form-control" name="alumno-password2" id="alumno-password2">
                            <i class="icono-svg form-alidacion-estado fa-regular fa-circle-xmark"></i>
                        </div>
                        <div class="error" id="error-alumno-password2">Las contraseñas deben ser iguales.
                        </div>
                    </div>

                    <!-- Subir archivos -->
                    <div class="form-formulario-alumno validacion-reset" id="form-upload-archive">
                        <label for="archivo-upload" class="form-label">Subir Archivo DNI:</label>
                        <div class="formulario-input">
                            <input type="file" class="form-control" name="archivo-upload" id="archivo-upload" required>
                        </div>
                        <div class="error" id="error-archivo-upload">Por favor, seleccione un archivo válido.</div>
                    </div>

                    <!-- FIN controles de formulario para el alumno -->
                </div>

                <!-- Div de los 2 responsables. -->
                <div class="registro-responsable">

                    <h2>Registro Responsable</h2>

                    <!-- Div registro Responsable 1 -->
                    <div class="responsable form-formulario-registro">
                        <!-- Nombre responsable -->
                        <div class="form-formulario-responsable validacion-reset" id="form-nombre-responsable">
                            <label for="responsable-nombre" class="form-label">Nombre:</label>
                            <div class="formulario-input">
                                <input type="text" class="form-control" name="responsable-nombre"
                                    id="responsable-nombre" placeholder="Escriba su Nombre">
                                <i class="icono-svg form-validacion-estado fa-regular fa-circle-xmark"></i>
                            </div>
                            <div class="error" id="error-responsable-nombre">El nombre se completa con letras, espacios y
                                puede contener tildes.</div>
                        </div>

                        <!-- Apellido responsable -->
                        <div class="form-formulario-responsable validacion-reset" id="form-apellido-responsable">
                            <label for="responsable-apellido" class="form-label">Apellido:</label>
                            <div class="formulario-input">
                                <input type="text" class="form-control" name="responsable-apellido"
                                    id="responsable-apellido" placeholder="Escriba su Apellido">
                                <i class="icono-svg form-validacion-estado fa-regular fa-circle-xmark"></i>
                            </div>
                            <div class="error" id="error-responsable-apellido">El Apellido se completa con letras, espacios y
                                puede contener tildes.</div>
                        </div>

                        <!-- DNI responsable -->
                        <div class="form-formulario-responsable validacion-reset" id="form-dni-responsable">
                            <label for="responsable-dni" class="form-label">DNI:</label>
                            <div class="formulario-input">
                                <input type="number" class="form-control" name="responsable-dni" id="responsable-dni"
                                    placeholder="Escriba su Documento">
                                <i class="icono-svg form-validacion-estado fa-regular fa-circle-xmark"></i>
                            </div>
                            <div class="error" id="error-responsable-dni">Por favor, ingrese un Documento válido. Sin
                                puntos.</div>
                        </div>

                        <!-- Fecha de nacimiento Rsponsable -->
                        <div class="form-formulario-responsable validacion-reset" id="form-birthday-responsable">
                            <label for="responsable-birthday" class="form-label">Fecha de Nacimiento:</label>
                            <input type="date" class="form-control" name="responsable-birthday"
                                id="responsable-birthday">
                        </div>

                        <!-- Dirección Responsable-->
                        <div class="form-formulario-responsable validacion-reset" id="form-direccion-responsable">
                            <label for="responsable-direccion" class="form-label">Dirección:</label>
                            <div class="formulario-input">
                                <input type="text" class="form-control" name="responsable-direccion"
                                    id="responsable-direccion" placeholder="Escriba su Dirección" required>
                                <i class="icono-svg form-validacion-estado fa-regular fa-circle-xmark"></i>
                            </div>
                            <div class="error" id="error-responsable-direccion">Por favor, ingrese una dirección válida.
                            </div>
                        </div>

                        <!-- Codigo Postal Responsable-->
                        <div class="form-formulario-responsable validacion-reset" id="form-codigopostal-responsable">
                            <label for="responsable-codigopostal" class="form-label">Código Postal:</label>
                            <div class="formulario-input">
                                <input type="text" class="form-control" name="responsable-codigopostal"
                                    id="responsable-codigopostal" placeholder="Escriba su Codigo Postal." required>
                                <i class="icono-svg form-validacion-estado fa-regular fa-circle-xmark"></i>
                            </div>
                            <div class="error" id="error-responsable-codigopostal">Por favor, ingrese un código postal.
                            </div>
                        </div>

                        <!-- Ciudad Responsable-->
                        <div class="form-formulario-responsable validacion-reset" id="form-ciudad-responsable">
                            <label for="responsable-ciudad" class="form-label">Ciudad:</label>
                            <div class="formulario-input">
                                <input type="text" class="form-control" name="responsable-ciudad"
                                    id="responsable-ciudad" placeholder="Escriba su Codigo Postal." required>
                                <i class="icono-svg form-validacion-estado fa-regular fa-circle-xmark"></i>
                            </div>
                            <div class="error" id="error-ciudad-ciudad">Por favor, ingrese una ciudad.</div>
                        </div>

                        <!-- Telefono Responsable  -->
                        <div class="form-formulario-responsable validacion-reset" id="form-telefono-responsable">
                            <label for="responsable-telefono" class="form-label">Teléfono:</label>
                            <div class="formulario-input">
                                <input type="number" class="form-control" name="responsable-telefono"
                                    id="responsable-telefono" placeholder="Escriba su Telefono" required>
                                <i class="icono-svg form-validacion-estado fa-regular fa-circle-xmark"></i>
                            </div>
                            <div class="error" id="error-responsable-telefono">Por favor, ingrese un teléfono válido.
                            </div>
                        </div>

                        <!-- Maill Responsable -->
                        <div class="form-formulario-responsable validacion-reset" id="form-email-responsable">
                            <label for="responsable-email" class="form-label">E-mail:</label>
                            <div class="formulario-input">
                                <input type="email" class="form-control" name="responsable-email" id="responsable-email"
                                    placeholder="mail@mail.com">
                                <i class="icono-svg form-validacion-estado fa-regular fa-circle-xmark"></i>
                            </div>
                            <div class="error" id="error-responsable-email">Por favor, ingrese un correo electrónico
                                válido.</div>

                        </div>

                    </div>

                    <!-- Muestro segundo responsable -->

                    <!-- Boton para ver los datos del segundo responsable -->
                    <button type="button" id="mostrarFormulario" class="btn btn-secundario">Agregar otro
                        Responsable</button>


                    <!-- Div Segundo Responsable -->
                    <div id="responsable2" style="display:none;">
                        <h2>Segundo Responsable</h2>

                        <!-- Div para poner el formulario en 2 columnas -->
                        <div class="form-formulario-registro">

                            <!-- Nombre responsable-2 -->
                            <div class="form-formulario-responsable-2 validacion-reset" id="form-nombre-responsable2">
                                <label for="responsable2-nombre" class="form-label">Nombre:</label>
                                <div class="formulario-input">
                                    <input type="text" class="form-control" name="responsable2-nombre"
                                        id="responsable2-nombre" placeholder="Escriba su Nombre">
                                    <i class="icono-svg form-validacion-estado fa-regular fa-circle-xmark"></i>
                                </div>
                                <div class="error" id="error-responsable2-nombre">El nombre se completa con letras, espacios y
                                    puede contener tildes.</div>
                            </div>

                            <!-- Apellido responsable-2 -->
                            <div class="form-formulario-responsable-2 validacion-reset" id="form-apellido-responsable2">
                                <label for="responsable2-apellido" class="form-label">Apellido:</label>
                                <div class="formulario-input">
                                    <input type="text" class="form-control" name="responsable2-apellido"
                                        id="responsable2-apellido" placeholder="Escriba su Apellido">
                                    <i class="icono-svg form-validacion-estado fa-regular fa-circle-xmark"></i>
                                </div>
                                <div class="error" id="error-responsable2-apellido">El Apellido se completa con letras, espacios y
                                    pueden contener tildes.</div>
                            </div>

                            <!-- DNI responsable-2 -->
                            <div class="form-formulario-responsable-2 validacion-reset" id="form-dni-responsable2">
                                <label for="responsable2-dni" class="form-label">DNI:</label>
                                <div class="formulario-input">
                                    <input type="number" class="form-control" name="responsable2-dni"
                                        id="responsable2-dni" placeholder="Escriba su Documento">
                                    <i class="icono-svg form-validacion-estado fa-regular fa-circle-xmark"></i>
                                </div>
                                <div class="error" id="error-responsable2-dni">Por favor, ingrese un documento válido.
                                    Sin puntos.</div>
                            </div>

                            <!-- Fecha de nacimiento Rsponsable -->
                            <div class="form-formulario-responsable-2 validacion-reset" id="form-birthday-responsable2">
                                <label for="responsable2-birthday" class="form-label">Fecha de Nacimiento:</label>
                                <input type="date" class="form-control" name="responsable2-birthday"
                                    id="responsable2-birthday">
                            </div>

                            <!-- Dirección responsable-2-->
                            <div class="form-formulario-responsable-2 validacion-reset"
                                id="form-direccion-responsable2">
                                <label for="responsable2-direccion" class="form-label">Dirección:</label>
                                <div class="formulario-input">
                                    <input type="text" class="form-control" name="responsable2-direccion"
                                        id="responsable2-direccion" placeholder="Escriba su Dirección">
                                    <i class="icono-svg form-validacion-estado fa-regular fa-circle-xmark"></i>
                                </div>
                                <div class="error" id="error-responsable2-direccion">Por favor, ingrese una dirección
                                    válida.</div>
                            </div>

                            <!-- Codigo Postal responsable-2-->
                            <div class="form-formulario-responsable-2 validacion-reset"
                                id="form-codigopostal-responsable2">
                                <label for="responsable2-codigopostal" class="form-label">Código Postal:</label>
                                <div class="formulario-input">
                                    <input type="text" class="form-control" name="responsable2-codigopostal"
                                        id="responsable2-codigopostal" placeholder="Escriba su Codigo Postal.">
                                    <i class="icono-svg form-validacion-estado fa-regular fa-circle-xmark"></i>
                                </div>
                                <div class="error" id="error-responsable2-codigopostal">Por favor, ingrese un código
                                    postal.</div>
                            </div>

                            <!-- Ciudad responsable-2-->
                            <div class="form-formulario-responsable-2 validacion-reset" id="form-ciudad-responsable2">
                                <label for="responsable2-ciudad" class="form-label">Dirección:</label>
                                <div class="formulario-input">
                                    <input type="text" class="form-control" name="responsable2-ciudad"
                                        id="responsable2-ciudad" placeholder="Escriba su Codigo Postal.">
                                    <i class="icono-svg form-validacion-estado fa-regular fa-circle-xmark"></i>
                                </div>
                                <div class="error" id="error-ciudad-codigopostal">Por favor, ingrese una ciudad.
                                </div>
                            </div>

                            <!-- Telefono responsable-2  -->
                            <div class="form-formulario-responsable-2 validacion-reset" id="form-telefono-responsable2">
                                <label for="responsable2-telefono" class="form-label">Teléfono:</label>
                                <div class="formulario-input">
                                    <input type="number" class="form-control" name="responsable2-telefono"
                                        id="responsable2-telefono" placeholder="Escriba su Telefono">
                                    <i class="icono-svg form-validacion-estado fa-regular fa-circle-xmark"></i>
                                </div>
                                <div class="error" id="error-responsable2-telefono">Por favor, ingrese un teléfono
                                    válido.</div>
                            </div>

                            <!-- Maill responsable-2 -->
                            <div class="form-formulario-responsable-2 validacion-reset" id="form-email-responsable2">
                                <label for="responsable2-email" class="form-label">Mail:</label>
                                <div class="formulario-input">
                                    <input type="email" class="form-control" name="responsable2-email"
                                        id="responsable2-email" placeholder="mail@mail.com">
                                    <i class="icono-svg form-validacion-estado fa-regular fa-circle-xmark"></i>
                                </div>
                                <div class="error" id="error-responsable2-email">Por favor, ingrese un correo
                                    electrónico válido.</div>

                            </div>
                        </div>

                    </div>

                </div>

                <!-- FIN Contenido oculto para segundo responsable -->

                <!-- Muestro formulario correcto  -->
                <div class="form-valido-campo" id="form-valido-campo">
                    <p class="form-mensaje-valido" id="form-mensaje-valido">Se cambia en el script check_inputs
                    </p>
                </div>

                <!-- Enviar y Borrar Datos-->
               
                <div class="form-btn-envia">
                    <button class="form-btn btn btn-primario" onclick="check_inputs(event)">Alta Usuario</button>
                    <button class="form-btn btn btn-primario" onclick="check_inputs(event)">Modificación Usuario</button>
                    <button class="form-btn btn btn-primario" onclick="check_inputs(event)">Baja Usuario</button>
                    <button type="reset" class="form-btn btn btn-secundario">Reset Datos</button>
                </div>

            </fieldset>
        </form>
    </main>
    <footer class="footer"></footer>
    <script src="./../static/js/header-plataforma.js"></script>
    <script src="./../static/js/footer.js"></script>
    <script src="../static/js/validaciones.js"></script>
    
</body>

</html>